/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orange_part{
    
    width: 20%;
    background-color:#EA513F;
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}

.orange_part_upper_part{
    height: 20%;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#flexlogo{
    height: 50px;
    height: 50px; 
    margin-right: 5px;
}

#flexname{
    color: white;
    font-size: large;
    font-weight: bold;
}

.home_button{
    width: 60px;
    height:20px;
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: x-small;
}

.flex_part{
    display: flex;
    align-items: center;
}

#homelink{
    text-decoration: none;
}

.orange_part_lower_part{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.orange_part_lower_part_white_text{
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.nav{
    margin-top:40px;
    text-align: center;
  
}

.navbar{
    text-decoration: none;
}

#img_nav{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:10px;
    }

   h1{
       text-align: center;
       font-weight: bold;
       font-size: xx-large;
   }

   .gallery_part{
       width: auto;
       margin-left: 20%;
   }

   .gallery_main{
       margin-left: 100px;
       margin-right: 100px;
       width: auto;
       display: flex;
       flex-direction: row;
       
       justify-content: space-between;
   }

   .left_gallery{
       margin-top: 50px;
       width: 49%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       
   }

   #gal_img{
       width: 100%;
       margin-bottom: 10px;
       border : 2px solid black;
   }